USE [master]
GO
/****** Object:  Database [TimberLogisticsDB]    Script Date: 18.12.2025 21:32:13 ******/
CREATE DATABASE [TimberLogisticsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TimberLogisticsDB', FILENAME = N'D:\programs\MSSQL15.SQLEXPRESS\MSSQL\DATA\TimberLogisticsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TimberLogisticsDB_log', FILENAME = N'D:\programs\MSSQL15.SQLEXPRESS\MSSQL\DATA\TimberLogisticsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TimberLogisticsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TimberLogisticsDB]
GO
/****** Object:  Table [dbo].[SecurityPosts]    Script Date: 18.12.2025 21:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityPosts](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[post_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 18.12.2025 21:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[vehicle_id] [int] IDENTITY(1,1) NOT NULL,
	[gov_number] [nvarchar](20) NOT NULL,
	[model] [nvarchar](50) NOT NULL,
	[bunk_width] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 18.12.2025 21:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[driver_id] [int] IDENTITY(1,1) NOT NULL,
	[fio] [nvarchar](100) NOT NULL,
	[license_num] [nvarchar](20) NULL,
	[personnel_num] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimberTypes]    Script Date: 18.12.2025 21:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimberTypes](
	[timber_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[length] [float] NOT NULL,
	[diameter] [int] NOT NULL,
	[stacking_factor] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[timber_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GateLog]    Script Date: 18.12.2025 21:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GateLog](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[date_in] [datetime] NOT NULL,
	[date_out] [datetime] NULL,
	[vehicle_id] [int] NULL,
	[driver_id] [int] NULL,
	[guest_vehicle] [nvarchar](50) NULL,
	[guest_driver] [nvarchar](100) NULL,
	[entry_post_id] [int] NOT NULL,
	[exit_post_id] [int] NULL,
	[verification_status] [nvarchar](20) NULL,
	[export_material] [nvarchar](100) NULL,
	[export_volume] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GateLogCargo]    Script Date: 18.12.2025 21:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GateLogCargo](
	[cargo_id] [int] IDENTITY(1,1) NOT NULL,
	[log_id] [int] NOT NULL,
	[timber_id] [int] NOT NULL,
	[height] [float] NULL,
	[stack_count] [float] NULL,
	[note] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[cargo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_GateLog]    Script Date: 18.12.2025 21:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_GateLog] AS
SELECT 
    gl.log_id,
    gl.date_in AS [Дата въезда],
    gl.date_out AS [Дата выезда],
    sp_in.post_name AS [Пост въезда],
    
    COALESCE(v.model + ' ' + v.gov_number, gl.guest_vehicle) AS [Машина],
    COALESCE(d.fio, gl.guest_driver) AS [Водитель],
    
    ISNULL(
        (SELECT STRING_AGG(tt.name, ', ') 
         FROM GateLogCargo glc
         JOIN TimberTypes tt ON glc.timber_id = tt.timber_id
         WHERE glc.log_id = gl.log_id), 
        'Пустой / Прочее'
    ) AS [Привезенный груз],

    gl.verification_status AS [Статус],

    -- === ИЗМЕНЕННАЯ ЧАСТЬ ===
    CASE 
        WHEN gl.export_volume IS NOT NULL AND gl.export_volume > 0 
        THEN ISNULL(gl.export_material, '') + ' (' + FORMAT(gl.export_volume, '0.##') + ' м3)'
        ELSE gl.export_material 
    END AS [Вывоз],
    -- ========================

    gl.entry_post_id
FROM GateLog gl
LEFT JOIN Vehicles v ON gl.vehicle_id = v.vehicle_id
LEFT JOIN Drivers d ON gl.driver_id = d.driver_id
LEFT JOIN SecurityPosts sp_in ON gl.entry_post_id = sp_in.post_id;
GO
/****** Object:  Table [dbo].[VehicleCrews]    Script Date: 18.12.2025 21:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleCrews](
	[crew_id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NOT NULL,
	[driver_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[crew_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Crews]    Script Date: 18.12.2025 21:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_Crews] AS
SELECT 
    vc.crew_id,
    v.model + ' ' + v.gov_number AS [Машина],
    d.fio AS [Водитель],
    d.personnel_num AS [Табельный номер],
    v.bunk_width AS [Ширина коников],
    vc.is_active -- Чтобы можно было программно фильтровать, если нужно
FROM VehicleCrews vc
JOIN Vehicles v ON vc.vehicle_id = v.vehicle_id
JOIN Drivers d ON vc.driver_id = d.driver_id
WHERE vc.is_active = 1; -- Показываем только действующие связки
GO
/****** Object:  Table [dbo].[FuelTransactions]    Script Date: 18.12.2025 21:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelTransactions](
	[trans_id] [int] IDENTITY(1,1) NOT NULL,
	[date_time] [datetime] NOT NULL,
	[post_id] [int] NOT NULL,
	[vehicle_id] [int] NOT NULL,
	[driver_id] [int] NOT NULL,
	[liters] [float] NOT NULL,
	[fuel_type] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[trans_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.12.2025 21:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[post_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([driver_id], [fio], [license_num], [personnel_num]) VALUES (1, N'Тонковский С.', N'35АА001', N'00101')
INSERT [dbo].[Drivers] ([driver_id], [fio], [license_num], [personnel_num]) VALUES (2, N'Андреев', N'35АА002', N'00102')
INSERT [dbo].[Drivers] ([driver_id], [fio], [license_num], [personnel_num]) VALUES (3, N'Золотых', N'35АА003', N'00103')
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[GateLog] ON 

INSERT [dbo].[GateLog] ([log_id], [date_in], [date_out], [vehicle_id], [driver_id], [guest_vehicle], [guest_driver], [entry_post_id], [exit_post_id], [verification_status], [export_material], [export_volume]) VALUES (1, CAST(N'2025-12-10T06:59:00.000' AS DateTime), CAST(N'2025-12-10T08:25:00.000' AS DateTime), 5, 9, NULL, NULL, 1, 1, N'Ожидает', NULL, NULL)
INSERT [dbo].[GateLog] ([log_id], [date_in], [date_out], [vehicle_id], [driver_id], [guest_vehicle], [guest_driver], [entry_post_id], [exit_post_id], [verification_status], [export_material], [export_volume]) VALUES (2, CAST(N'2025-12-05T11:36:00.000' AS DateTime), CAST(N'2025-12-05T14:19:00.000' AS DateTime), 4, 7, NULL, NULL, 1, 1, N'Ожидает', NULL, NULL)
INSERT [dbo].[GateLog] ([log_id], [date_in], [date_out], [vehicle_id], [driver_id], [guest_vehicle], [guest_driver], [entry_post_id], [exit_post_id], [verification_status], [export_material], [export_volume]) VALUES (3, CAST(N'2025-12-06T22:26:00.000' AS DateTime), CAST(N'2025-12-07T02:00:00.000' AS DateTime), 2, 3, NULL, NULL, 1, 1, N'Ожидает', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[GateLog] OFF
GO
SET IDENTITY_INSERT [dbo].[GateLogCargo] ON 

INSERT [dbo].[GateLogCargo] ([cargo_id], [log_id], [timber_id], [height], [stack_count], [note]) VALUES (1, 1, 14, 2.2666078159144525, 1, N'')
INSERT [dbo].[GateLogCargo] ([cargo_id], [log_id], [timber_id], [height], [stack_count], [note]) VALUES (2, 2, 6, 2.3720034054826811, 1, N'')
INSERT [dbo].[GateLogCargo] ([cargo_id], [log_id], [timber_id], [height], [stack_count], [note]) VALUES (3, 2, 4, 1.813078291400021, 1, N'')
GO
SET IDENTITY_INSERT [dbo].[GateLogCargo] OFF
GO
SET IDENTITY_INSERT [dbo].[SecurityPosts] ON 

INSERT [dbo].[SecurityPosts] ([post_id], [post_name], [description]) VALUES (1, N'Основной', N'Главная проходная')
INSERT [dbo].[SecurityPosts] ([post_id], [post_name], [description]) VALUES (2, N'Химия', N'Склад ГСМ')
INSERT [dbo].[SecurityPosts] ([post_id], [post_name], [description]) VALUES (3, N'Макаренко', N'Въезд 2')
SET IDENTITY_INSERT [dbo].[SecurityPosts] OFF
GO
SET IDENTITY_INSERT [dbo].[TimberTypes] ON 

INSERT [dbo].[TimberTypes] ([timber_id], [name], [length], [diameter], [stacking_factor]) VALUES (2, N'Сосна пиловочник 6м (1 сорт)', 6, 26, 0.66)
INSERT [dbo].[TimberTypes] ([timber_id], [name], [length], [diameter], [stacking_factor]) VALUES (3, N'Сосна пиловочник 6м (2 сорт)', 6, 22, 0.64)
INSERT [dbo].[TimberTypes] ([timber_id], [name], [length], [diameter], [stacking_factor]) VALUES (4, N'Сосна пиловочник 4м', 4, 20, 0.68)
SET IDENTITY_INSERT [dbo].[TimberTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [login], [password], [role], [post_id]) VALUES (1, N'adm', N'adm', N'Админ', NULL)
INSERT [dbo].[Users] ([user_id], [login], [password], [role], [post_id]) VALUES (2, N'master_les', N'12345', N'Мастер', NULL)
INSERT [dbo].[Users] ([user_id], [login], [password], [role], [post_id]) VALUES (3, N'master_ceh', N'12345', N'Мастер', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleCrews] ON 

INSERT [dbo].[VehicleCrews] ([crew_id], [vehicle_id], [driver_id], [is_active]) VALUES (2, 1, 2, 1)
INSERT [dbo].[VehicleCrews] ([crew_id], [vehicle_id], [driver_id], [is_active]) VALUES (3, 2, 3, 1)
INSERT [dbo].[VehicleCrews] ([crew_id], [vehicle_id], [driver_id], [is_active]) VALUES (4, 2, 4, 1)
SET IDENTITY_INSERT [dbo].[VehicleCrews] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([vehicle_id], [gov_number], [model], [bunk_width]) VALUES (1, N'Е 128 ХР 35', N'MAN', 2.3)
INSERT [dbo].[Vehicles] ([vehicle_id], [gov_number], [model], [bunk_width]) VALUES (2, N'К 076 ММ 35', N'MAN', 2.3)
INSERT [dbo].[Vehicles] ([vehicle_id], [gov_number], [model], [bunk_width]) VALUES (3, N'К 928 ЕК 35', N'MAN', 2.3)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Drivers_LicenseNum]    Script Date: 18.12.2025 21:32:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Drivers_LicenseNum] ON [dbo].[Drivers]
(
	[license_num] ASC
)
WHERE ([license_num] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Drivers_PersonnelNum]    Script Date: 18.12.2025 21:32:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Drivers_PersonnelNum] ON [dbo].[Drivers]
(
	[personnel_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SecurityPosts_Name]    Script Date: 18.12.2025 21:32:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SecurityPosts_Name] ON [dbo].[SecurityPosts]
(
	[post_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TimberTypes_Name]    Script Date: 18.12.2025 21:32:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TimberTypes_Name] ON [dbo].[TimberTypes]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Login]    Script Date: 18.12.2025 21:32:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Login] ON [dbo].[Users]
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VehicleCrews_ActivePair]    Script Date: 18.12.2025 21:32:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_VehicleCrews_ActivePair] ON [dbo].[VehicleCrews]
(
	[vehicle_id] ASC,
	[driver_id] ASC
)
WHERE ([is_active]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehicles_GovNumber]    Script Date: 18.12.2025 21:32:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Vehicles_GovNumber] ON [dbo].[Vehicles]
(
	[gov_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FuelTransactions] ADD  DEFAULT (getdate()) FOR [date_time]
GO
ALTER TABLE [dbo].[GateLog] ADD  DEFAULT (getdate()) FOR [date_in]
GO
ALTER TABLE [dbo].[VehicleCrews] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[FuelTransactions]  WITH CHECK ADD  CONSTRAINT [FK_FuelTrans_Drivers] FOREIGN KEY([driver_id])
REFERENCES [dbo].[Drivers] ([driver_id])
GO
ALTER TABLE [dbo].[FuelTransactions] CHECK CONSTRAINT [FK_FuelTrans_Drivers]
GO
ALTER TABLE [dbo].[FuelTransactions]  WITH CHECK ADD  CONSTRAINT [FK_FuelTrans_Posts] FOREIGN KEY([post_id])
REFERENCES [dbo].[SecurityPosts] ([post_id])
GO
ALTER TABLE [dbo].[FuelTransactions] CHECK CONSTRAINT [FK_FuelTrans_Posts]
GO
ALTER TABLE [dbo].[FuelTransactions]  WITH CHECK ADD  CONSTRAINT [FK_FuelTrans_Vehicles] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicles] ([vehicle_id])
GO
ALTER TABLE [dbo].[FuelTransactions] CHECK CONSTRAINT [FK_FuelTrans_Vehicles]
GO
ALTER TABLE [dbo].[GateLog]  WITH CHECK ADD  CONSTRAINT [FK_GateLog_Drivers] FOREIGN KEY([driver_id])
REFERENCES [dbo].[Drivers] ([driver_id])
GO
ALTER TABLE [dbo].[GateLog] CHECK CONSTRAINT [FK_GateLog_Drivers]
GO
ALTER TABLE [dbo].[GateLog]  WITH CHECK ADD  CONSTRAINT [FK_GateLog_EntryPost] FOREIGN KEY([entry_post_id])
REFERENCES [dbo].[SecurityPosts] ([post_id])
GO
ALTER TABLE [dbo].[GateLog] CHECK CONSTRAINT [FK_GateLog_EntryPost]
GO
ALTER TABLE [dbo].[GateLog]  WITH CHECK ADD  CONSTRAINT [FK_GateLog_ExitPost] FOREIGN KEY([exit_post_id])
REFERENCES [dbo].[SecurityPosts] ([post_id])
GO
ALTER TABLE [dbo].[GateLog] CHECK CONSTRAINT [FK_GateLog_ExitPost]
GO
ALTER TABLE [dbo].[GateLog]  WITH CHECK ADD  CONSTRAINT [FK_GateLog_Vehicles] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicles] ([vehicle_id])
GO
ALTER TABLE [dbo].[GateLog] CHECK CONSTRAINT [FK_GateLog_Vehicles]
GO
ALTER TABLE [dbo].[GateLogCargo]  WITH CHECK ADD  CONSTRAINT [FK_GateLogCargo_GateLog] FOREIGN KEY([log_id])
REFERENCES [dbo].[GateLog] ([log_id])
GO
ALTER TABLE [dbo].[GateLogCargo] CHECK CONSTRAINT [FK_GateLogCargo_GateLog]
GO
ALTER TABLE [dbo].[GateLogCargo]  WITH CHECK ADD  CONSTRAINT [FK_GateLogCargo_TimberTypes] FOREIGN KEY([timber_id])
REFERENCES [dbo].[TimberTypes] ([timber_id])
GO
ALTER TABLE [dbo].[GateLogCargo] CHECK CONSTRAINT [FK_GateLogCargo_TimberTypes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_SecurityPosts] FOREIGN KEY([post_id])
REFERENCES [dbo].[SecurityPosts] ([post_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_SecurityPosts]
GO
ALTER TABLE [dbo].[VehicleCrews]  WITH CHECK ADD  CONSTRAINT [FK_VehicleCrews_Drivers] FOREIGN KEY([driver_id])
REFERENCES [dbo].[Drivers] ([driver_id])
GO
ALTER TABLE [dbo].[VehicleCrews] CHECK CONSTRAINT [FK_VehicleCrews_Drivers]
GO
ALTER TABLE [dbo].[VehicleCrews]  WITH CHECK ADD  CONSTRAINT [FK_VehicleCrews_Vehicles] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicles] ([vehicle_id])
GO
ALTER TABLE [dbo].[VehicleCrews] CHECK CONSTRAINT [FK_VehicleCrews_Vehicles]
GO
USE [master]
GO
